.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}



body{
    background-color: #323232;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #d7dadc;
}
body.light-theme{
    background-color: red;
}

/* General CSS functions */
p{
    margin-top: 4px;
    margin-bottom: 4px;
}

a{
    color: gold;
}

h1.text-center{
    margin: 4px;
}

.text-center{
    text-align: center;
}

.no-margin{
    margin: 0px;
}

/* CSS for version number */
.version-number{
    position: absolute;
    font-size: 0.75em;
    top: 0vw;
    right: 1vw;
    width: auto;
}

.popover{
    position: absolute;
    font-size: 1em;
    background-color: gray;
    width: fit-content;
    border: solid 2px lightgray;
    margin-top: -8px;
    padding: 4px;
    border-radius: 8px;
}

.tooltip-inner{
    position: absolute;
    background-color: gray;
}

/* CSS for cookie policy banner */
.cookie-paragraph{
    margin: 0 0 0 0;
    top: 0px;
    bottom: 0px;
    margin: auto;
}
.cookie-paragraph a,
.cookie-paragraph a:visited{
    color: white;
}

.cookie-policy{
    display: none;
    flex-direction: wrap;
    flex-wrap: nowrap;
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #242424;
    width: 70vw;
    border: solid 2px darkgray;
    padding: 4px;
}
.cookie-policy.light-theme{
    background-color: green;
}

.cookie-policy-close{
    color: white;
    background-color: violet;
    border: none;
    text-align: center;
    max-height: 70%;
    top: 0px;
    bottom: 0px;
    margin: auto;
    padding: 8px;
}
.cookie-policy-close{
    background-color: #2A4494;
}

.cookie-policy-close:hover{
    color: gold;
    cursor: pointer;
}
.cookie-policy-close:hover.light-theme{
    color: deeppink;
}

/* CSS For index page */
.calculator-selection{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.calculator-option{
    font-size: 3em;
    border: solid 1px white;
    margin: 8px;
}

.calculator-option:hover{
    color: gold;
    cursor: pointer;
}

.guide-container-wrapper{
    text-align: center;
}

.full-guide{
    display: inline-block;
    flex-direction: column;
    height: auto !important;
    text-align: left;
    width: 70vw;
    max-width: 70%;
}

ol {
    font-size: 1.25em;
    counter-reset: item
}
li {
    display: block
}
li:before {
    content: counters(item, ".") ") ";
    counter-increment: item
}

.small{
    font-size: 0.75em;
}

.super-small{
    font-size: 0.95em;
}

/* CSS for Main Menu */
.topnav{
    text-decoration: none;
    overflow: none;
    width: 100vw;
    max-width: 100%;
    border-bottom: solid 2px black;
    font-size: 2em;
    margin-top: 12px;
}

.topnav a{
    color: white;
}

.topnav .hamburger-menu {
    display: none;
}

/* CSS for 'How-to use' */
#howToUse{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 12px;
    font-size: 1em;
}

.guide-container{
    display: flex;
    justify-content: center;
    height: 0;
    overflow: hidden;
}
.guide-container-height{
    height: auto;
}

/* Event countdown timer */ 
.event-timer{
    text-decoration: underline;
}

/* Crafting item CSS */
.crafting-container{
    display: block;
    width: 100vw;
    max-width: 100%;
    overflow: visible;
    text-align: center;
    margin: auto;
    background-color: #242424;
    padding-bottom: 4px;
}
.crafting-container.light-theme{
    background-color: green;
}

.crafting-container h2{
    margin-bottom: 0px;
    margin-top: 0.5em;
}

.crafting-container select,
.crafting-container button,
.crafting-container label,
.crafting-minute {
    margin: 4px;
    font-size: 1.5em;
}

.crafting-tier{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.crafting-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 33.33vw;
    max-width: 33.33%;
    margin-left: 4px;
    margin-right: 4px;
    background-color: #323232;
}
.crafting-item.light-theme{
    background-color: red;
}

.crafting-item-button{
    background: none;
    color: #ffffff;
    font-size: 1em !important;
    border: none;
}

.crafting-item-info{
    display: none;
    height: 0;
    font-size: 0.75em;
}

.display-crafting-item-info{
    display: block;
    height: auto;
}

.crafting-item-amount{
    font-size: 1.5em;
    width: 4em;
    margin: auto;
    background: transparent;
    text-align: center;
    color: gold;
    border: none;
    -webkit-box-shadow: inset 0px 0px 4px #d7dadc;
    -moz-box-shadow: inset 0px 0px 4px #d7dadc;
    box-shadow: inset 0px 0px 4px #d7dadc;
}
.crafting-item-amount.light-theme{
    color:deeppink;
}

.arrow{
    width: auto;
}

/* Crafting time input */
.crafting-time-container{
    display: block;
}

.crafting-time-info{
    width: 10vw;
    max-width: 1.5em;
}

.crafting-time-input{
    width: 40vw;
    margin: auto;
    padding: 8px;
}

.user-input-label{
    vertical-align: middle;
}

.user-input{
    font-size: 1em;
    width: 15vw;
    float: right;   
}

.crafting-button{
    display: flex;
    justify-content: center;
}

.crafting-button button{
    font-size: 1.25em;
    margin: 8px;
}

/* output-container */
.output-container{
    background-color: #242424;
    margin: auto;
}
.output-container.light-theme{
    background-color: green;
}

#copyClipboard{
    display: block;
    left: 0;
    right: 0;
    margin: auto;
}

.output-total{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
}

.output-total span{
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 1.5em;
}

.output-table{
    left: 0px;
    right: 0px;
    margin: auto;
}

table{
    table-layout: fixed;
    width: 100%;
}

th{
    font-weight: 900;
    font-size: 1em;
    font-weight: bold;
    background-color:#323232;
    color: gold;
}
th.light-theme{
    background-color: red;
    color: deeppink;
}

td{
    text-align: center;
    overflow: auto;
}

td img{
    max-height: 5vw;
    vertical-align: middle;
}

tbody tr:nth-child(odd){
    background-color: #2A4494;
}
tbody tr:nth-child(odd).light-theme{
    background-color: violet;
}

tbody tr:nth-child(even){
    background-color: #323232;
}
tbody tr:nth-child(even).light-theme{
    background-color: red;
}

/* event.html */
.raw-material{
    margin: 4px;
    padding: 8px;
    border: solid 2px white;
}

.selected-raw-material{
    border: solid 2px gold;
}
.selected-raw-material.light-theme{
    border: solid 2px deeppink;
}

/* about.html */
.about-article{
    margin: 0 auto;
    width: 50%;
}

.about-article p{
    display: inline-block;
}

.download{
    margin-top: 20px;
}

.download img{
    text-decoration: none;
}

.download a img{
    max-width: 250px;
}

.app-store-icon{
    height: 97px;
    width: 225px;
}

/* feedback.html */
.feedback{
    text-align: center;
    width: 100%;
}

/* privacy.html */
.privacy{
    width: 50%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.privacy ul li{
    list-style-type: none;
}

/* Removes up/down arrows on 'input type="number"' */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=checkbox] {
    width: 1em;
    height: 1em;
    vertical-align: sub;
}